#top_ui {
	text-align: center;
	margin-top: 200px;
}
.loading_total {
	width: 70%;
	height: 15px;
	background-color: rgba(141,141,141,1.00);
	margin-left: auto;
	margin-right: auto;
}
.loading_progress {
	background-color: rgba(84,199,129,1);
	height: 100%;
	width: 0%;
}
div label input {
	margin-right:100px;
}
body {
	font-family:sans-serif;
}
#ck-button {
	background-color: #76AC48;
	border-radius: 4px;
	border: 1px solid #D0D0D0;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
}
#ck-button label {
	float:left;
	width:10em;
}
#ck-button label span {
	text-align:center;
	padding:3px 0px;
	display:block;
}
#ck-button label input {
	position: absolute;
	top: -20px;
}
#ck-button input:checked + span {
	background-color: #911;
	color: #fff;
}
.enter-btn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: black;
  font-size: 32px;
  background: #C0C0C0;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}