#top_ui {
	text-align: center;
	margin-top: 200px;
}
.loading_total {
	width: 70%;
	height: 15px;
	background-color: rgba(141,141,141,1.00);
	margin-left: auto;
	margin-right: auto;
}
.loading_progress {
	background-color: rgba(84,199,129,1);
	height: 100%;
	width: 0%;
}
div label input {
	margin-right:100px;
}
body {
	font-family:sans-serif;
}
#ck-button {
	background-color: #76AC48;
	border-radius: 4px;
	border: 1px solid #D0D0D0;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
}
#ck-button label {
	float:left;
	width:10em;
}
#ck-button label span {
	text-align:center;
	padding:3px 0px;
	display:block;
}
#ck-button label input {
	position: absolute;
	top: -20px;
}
#ck-button input:checked + span {
	background-color: #911;
	color: #fff;
}
.enter-btn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: black;
  font-size: 32px;
  background: #C0C0C0;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea {
	-webkit-appearance: none;
}   

.inputstyle{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.subbtnstyle{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
